<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.localhost.koitt14.account.AccountMapper">
  <select id="selectAccount" resultType="dev.localhost.koitt14.account.AccountVo">
    SELECT * FROM account
      WHERE seq_key = #{param1}
  </select>

  <select id="selectAccountById" resultType="dev.localhost.koitt14.account.AccountVo">
    SELECT * FROM account
      WHERE id = #{param1}
  </select>

  <select id="getKey" resultType="Object">
    SELECT seq_key FROM account
      WHERE id = #{param1}
  </select>

  <select id="getId" resultType="String">
    SELECT id FROM account
      WHERE name = #{param1} and email = #{param2}
  </select>

  <select id="getPw" resultType="String">
    SELECT password FROM account
      WHERE id = #{param1} and email = #{param2}
  </select>

  <select id="getPwByKey" resultType="String">
    SELECT password FROM account
      WHERE seq_key = #{param1}
  </select>

  <select id="getPoint" resultType="Integer">
    SELECT point FROM account
      WHERE seq_key = #{param1}
  </select>

  <select id="checkPhone" resultType="String">
    SELECT seq_key FROM account
      WHERE phone = #{param1}
  </select>

  <select id="checkId" resultType="String">
    SELECT seq_key FROM account
      WHERE id = #{param1}
  </select>

  <insert id="insertAccount">
    INSERT INTO account
      (id, password, name, email, email_reception, phone, address_zipcode, address_new, address_old, address_detail, address_extra, auth_key)
      VALUES (#{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7}, #{param8}, #{param9}, #{param10}, #{param11}, #{param12})
  </insert>

  <update id="updateAccount">
    UPDATE account
      SET name = #{param1}, email_reception = #{param2}, address_zipcode = #{param3}, address_new = #{param4}, address_old = #{param5}, address_detail = #{param6}, address_extra = #{param7}, modified_date = NOW()
      WHERE seq_key = #{param8}
  </update>

  <update id="updateAccountEmail">
    UPDATE account
      SET email = #{param1}, modified_date = NOW()
      WHERE seq_key = #{param2}
  </update>

  <update id="updateAccountPhone">
    UPDATE account
      SET phone = #{param1}, modified_date = NOW()
      WHERE seq_key = #{param2}
  </update>

  <update id="updateAccountPw">
    UPDATE account
      SET password = #{param1}, modified_date = NOW()
      WHERE seq_key = #{param2}
  </update>

  <update id="updateAccountPwById">
    UPDATE account
      SET password = #{param1}, modified_date = NOW()
      WHERE id = #{param2}
  </update>

  <update id="updateDestination">
    UPDATE account
      SET name = #{param1}, address_zipcode = #{param2}, address_new = #{param3}, address_old = #{param4}, address_detail = #{param5}, address_extra = #{param6}, modified_date = NOW()
      WHERE seq_key = #{param7}
  </update>

  <update id="updatePoint">
    UPDATE account
      SET point = #{param1}, modified_date = NOW()
      WHERE seq_key = #{param2}
  </update>

  <delete id="deleteAccountById">
    DELETE FROM account
      WHERE id = #{param1}
  </delete>

  <!-- 관리자 페이지용 메소드 -->
  <select id="getCount" resultType="Integer">
    SELECT count(*) FROM account
  </select>

  <select id="getList" resultType="dev.localhost.koitt14.account.AccountVo">
    SELECT * FROM account
      ORDER BY created_date DESC LIMIT #{param1}, #{param2}
  </select>

  <select id="getSearchNameCount" resultType="Integer">
    SELECT count(*) FROM account
      WHERE name like #{param1}
  </select>

  <select id="searchNameList" resultType="dev.localhost.koitt14.account.AccountVo">
    SELECT * FROM account
      WHERE name like #{param1}
      ORDER BY created_date DESC LIMIT #{param2}, #{param3}
  </select>

  <select id="getSearchEmailCount" resultType="Integer">
    SELECT count(*) FROM account
      WHERE email like #{param1}
  </select>

  <select id="searchEmailList" resultType="dev.localhost.koitt14.account.AccountVo">
    SELECT * FROM account
      WHERE email like #{param1}
      ORDER BY created_date DESC LIMIT #{param2}, #{param3}
  </select>

  <select id="getSearchPhoneCount" resultType="Integer">
    SELECT count(*) FROM account
      WHERE phone like #{param1}
  </select>

  <select id="searchPhoneList" resultType="dev.localhost.koitt14.account.AccountVo">
    SELECT * FROM account
      WHERE phone like #{param1}
      ORDER BY created_date DESC LIMIT #{param2}, #{param3}
  </select>

  <update id="updateAccountByAdmin">
    UPDATE account
      SET name = #{param1}, password = #{param2}, email = #{param3}, email_reception = #{param4}, address_zipcode = #{param5}, address_new = #{param6}, address_old = #{param7}, address_detail = #{param8}, address_extra = #{param9}, modified_date = NOW()
      WHERE seq_key = #{param10}
  </update>
</mapper>
