.h3-fix { position: relative; top: 10px; }
.div-fix { position: relative; top: 10px; }
.padding-left { padding-left: 55px; }
option { width: 150px; }
.method { margin:12px 0 0 0; }

/* input[type=number] 버튼 제거 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; }

.point-use { display: inline-block; width: 60px; }

#layer { display: none; position: fixed; overflow: hidden; z-index: 9; -webkit-overflow-scrolling: touch; background: white; line-height: 30px; font-size: 16px; font-weight: bold; text-align: center; }

.point { cursor: pointer; }
